.content-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main__content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1 0 auto;
}

.swiper-container {
  height: 430px;
  padding: 20px 40px 35px;
}

.swiper-slide {
  width: 250px;
  background-color: transparent;
}

.swiper-button-prev {
  outline: none;
  left: 1%;
  color: white;
}

.swiper-button-prev:hover {
  color: red;
}

.swiper-button-next {
  outline: none;
  user-select: none;
  right: 1%;
  color: white;
}

.swiper-button-next:hover {
  color: red;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.card__title {
  display: block;
  padding: 10px 20px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;
}

.card__title:hover {
  color: red;
  // font-weight: 700;
}

.card__image {
  height: 330px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__year {
  position: absolute;
  color: #ffffff;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}

.rating__star {
  width: 20px;
  margin-right: 10px;
}


.total__result {
  color: #ffffff;
  margin: 5px 0 15px;
}

.info {
  color: #ffffff;
  margin-top: 10px;
  height: 16px;
}

.load {
  display: none;
  position: absolute;
  width: 30px;
  height: 25px;
  background-image: url('../img/rotate.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 50%;
  top: 3px;
  right: 175px;
  -webkit-transition: .3s;
  transition: .3s;
}


.load-none {
  display: block;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}